@media screen {

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #C7CFD9;
    font-family: "Inter", sans-serif;
    color: #133340;
}

.header{
    border: 2px solid #133340;
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin: 20px auto;
    width: 60%;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    padding-top: 0.5%;
}
#titulo{
    font-size: 30px;
}
#campos {
    border: 2px solid black;
    display: flex;
    flex-wrap: wrap;

}

#campos > div {
    flex: 1;
    margin-right: 20px; /* Adiciona espaçamento entre as divs */
}

#campos label {
    display: block;
    margin-bottom: 5px; /* Adiciona espaçamento entre as labels e inputs */
}

.cadastro{
    border: 2px solid #133340;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    width: 60%;
    height: 80vh;
    border-radius: 10px;
    padding: auto;
}
.cadastro label {
    margin-bottom: 10px;
    display: block;
    
}
.cadastro input {
    margin-bottom: 20px;

}
#resumoProjeto{
    width: 100%;
    height: 200px;
    resize: none;
    text-align: left;
    overflow-wrap: break-word;
    padding: 0; 
    
}
.cadastro select {
    width: 100%; 
    max-width: 200px; 
    margin: 0 auto; 
    text-align: center;
}