@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
*{
    box-sizing: border-box;  
}
body{
    margin: 0%;
    font-family: "Bebas Neue", sans-serif;
}
.navbar{
    height: 160px;
    background: #219ebc;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}
.logo{
    flex: 10%;
    /*border: 1px solid black;*/
    text-align: center;
    margin-left: 0%;
}
.menu{
    flex: 70%;
    /*border: 1px solid black;*/
    text-align: right;
    padding: 20px;
    margin-right: 3%;
}
.menu a{/*Links*/
    text-decoration: none;
    font-size: 23px;
    padding: 20px 80px;
    color: black;
}
.menu a:hover{/*Quando o mouse passa por cima*/
    color:#ffb703;
    border-top: 3px solid #ffb703;
    border-bottom: 3px solid #ffb703;
}
#botao{
    background: white;
    border-radius: 5px;
    padding: 12px 50px;
    color: black;
    margin-left: 60px;
}
#botao:hover{/*Quando o mouse passa por cima*/
    border: none;
    background: #ffb703;
}
.header{
    background: white;
    height: 1048px;
    display: flex;
    flex-flow: row wrap;
    /* background: url(../../../Imagens/background-wallpaper-8k-landscape.png); */
    background: #8ecae6;
    background-size: cover;
    background-position: center;
}
.headeline{
    flex: 63%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 1%;
    margin-top: 1%;
    /*border: 5px solid black;*/
    border-radius: 2%;
    text-align: center;
}
.headelinet{
    border: 2px solid black;
    margin-top: 10%;
    margin-right: 20%;
    margin-left: 20%;
    font-size: 30px;
}
.textoa{
    /* border: 2px solid black; */
    margin-top: 5%;
    font-size: 20px;
    margin-left: 20%;
    margin-right: 20%;
    text-align: justify;
}
.botaoec{
    font-size: 30px;
    margin-top: 6%;
    /*border: 3px solid black;*/
    text-align: center;
    margin-left: 25%;
    margin-right: 30%;
}
.botaoec a{
    text-decoration: none;
}
#botaoe{
    background: white;
    border-radius: 10px;
    padding: 12px 50px;
    color: black;
    margin-left: 60px;
}
#botaoe:hover{/*Quando o mouse passa por cima*/
    border: none;
    background: #ffb703;
}
#botaoc{
    background: white;
    border-radius: 10px;
    padding: 12px 50px;
    color: black;
    margin-left: 60px;
}
#botaoc:hover{/*Quando o mouse passa por cima*/
    border: none;
    background: #ffb703;
}
