
@media screen {

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: url(../Assets/Imagens/background.jpg);
}
.container_header_navbar{
    border: 2px solid black;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-top: 10px;
}
.header{
    border: 2px solid black;
    display: flex;
    margin-left: 5%;
}
.navbar{
    border: 2px solid black;
    display: flex;
    flex-flow: row wrap;
    margin-right: 5%;
    justify-content: center;
    align-items: center;
    a{
        /* border: 2px solid black; */
        display: flex;
        margin-left: 50px;
        font-size: 30px;
        text-decoration: none;
        color: black;
        padding: 5px 15px 5px 15px
    }
    :hover{
        border-top: 3px solid green;
        border-bottom: 3px solid green;
    }
}
.container_texto_login{
    border: 2px solid black;
    display: flex;
    flex-flow: row wrap;
    margin-top: 10px;
    justify-content: space-between;
    height: 1000px;
}
.texto{
    border: 2px solid black;
    flex-flow: row wrap;
    padding: 50px;
    margin: 5%
}
.registra{
    /* border: 2px solid black; */
    display: flex;
    flex-flow: row wrap;
    a{
        border: 2px solid black;
        text-decoration: none;
        color: black;
        font-size: 20px;
        padding: 5px 15px 5px 15px;
        margin-right: 5%;
    }
    :hover{
        background: green;
    }
}
.login{
    border: 4px solid black;
    flex-flow: row wrap;
    margin: 10% 5% 10% 5%;
    padding: 20px 20px 0 20px;
    border-radius: 5%;
}
.email_senha input{
    border: 2px solid black;
    font-size: 30px;
    margin-top: 1%;
}
.botao_entrar{
    border: 2px solid black;
    display: flex;
    margin-top: 5%;
    padding: 10px 104px 10px 104px;
    justify-content: center;
    align-items: center;
    a{
        text-decoration: none;
        color: black;
    }
    :hover{
        background: green;
    }
}